
body{
    margin: 0;
    text-align: center;
}
h1{
    margin-top: 0;
}

.topcontainer{
    background-color: #E9DAC1;
    position: relative;
    padding-top: 100px;
    
}
.middlecontainer{
    background-color: red;
    height: 200px;
    width: 200px;
    
}
.bottomcontainer{
    background-color: blue;
    height: 200px;
    width: 200px;
      
}
.pro{
    text-decoration: underline ;
   
}


.bottom-cloud{
    position: absolute;
    left: 300px;
    bottom: 300px;
}
.top-cloud{
    position: absolute;
    right: 300px;
    top: 50px;
}